# =====================================================================
# Example PV Linux guest configuration
# =====================================================================
#
# This is a fairly minimal example of what is required for a
# Paravirtualised Linux guest. For a more complete guide see xl.cfg(5)

# Guest name
name = "xenial_pv_server"

# 128-bit UUID for the domain as a hexadecimal number.
# Use "uuidgen" to generate one if required.
# The default behavior is to generate a new UUID each time the guest is started.
#uuid = "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"

# Kernel image to boot
#kernel = "/var/lib/xen/images/ubuntu-netboot/xenial16LTS/vmlinuz"
# Ramdisk (optional)
#ramdisk = "/var/lib/xen/images/ubuntu-netboot/xenial16LTS/initrd.gz"
bootloader = "/usr/lib/xen-4.6/bin/pygrub"

# Kernel command line options
extra = "root=/dev/xvda1 iommu=soft"

# Initial memory allocation (MB)
memory = 4096

# Number of VCPUS
vcpus = 2

# Network devices
# A list of 'vifspec' entries as described in
# docs/misc/xl-network-configuration.markdown
vif = [ 'ip=192.168.1.16,gatewaydev=eno1,script=vif-nat' ]

# Disk Devices
# A list of `diskspec' entries as described in
# docs/misc/xl-disk-configuration.txt
disk = [ '/dev/xen_grp/ubuntu_guest_server,raw,xvda,rw' ]

## Devices for PCA passthrough
pci = [ '81:10.6,permissive=1' ]

on_poweroff = 'destroy'
on_reboot = 'restart'
on_crash = 'restart'
